<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">

<head>
  {{ block "title" . }}
  <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8328185126124675"
    crossorigin="anonymous"></script>
  <script async src="https://fundingchoicesmessages.google.com/i/pub-8328185126124675?ers=1"
    nonce="0ox4z0xKkN3GcvooS9mtow"></script>
  <script
    nonce="0ox4z0xKkN3GcvooS9mtow">(function () { function signalGooglefcPresent() { if (!window.frames['googlefcPresent']) { if (document.body) { const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe); } else { setTimeout(signalGooglefcPresent, 0); } } } signalGooglefcPresent(); })();</script>
</head>

<body class="{{- ( or .Params.color $.Site.Params.ThemeColor ) -}}">
  {{ $container := cond ($.Site.Params.FullWidthTheme | default false) "container full" (cond ($.Site.Params.CenterTheme
  | default false) "container center" "container") }}

  <div class="{{- $container -}}{{- cond ($.Site.Params.oneHeadingSize | default true) " headings--one-size" "" }}">

    {{ partial "header.html" . }}

    <div class="content">
      {{ block "main" . }}
      {{ end }}
    </div>

    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}
  </div>

</body>

</html>