{{ define "main" }}
  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}
  <div class="posts">
    {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
    {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

    {{ $PageContext := . }}
    {{ if .IsHome }}
      {{ $PageContext = .Site }}
    {{ end }}
    {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

    {{ range $paginator.Pages }}
    
      <div class="post on-list">
        <div class='parent'>
          <div class='child child-left'>

            <h1 class="post-title">
              <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            </h1>
            
            <div class="post-meta post-meta-top">
              <div>
                {{ .ReadingTime }}m
                <span class="post-date">{{ .Date.Format "2006-01-02" }}</span>
              </div>
            </div>
    
            <div class="post-content" style="cursor: pointer;" onclick="window.location='{{ .Permalink }}';">
              {{ if .Params.showFullContent }}
              {{ .Content }}
              {{ else if .Description }}
              {{ .Description | markdownify }}
              {{ else }}
              {{ if .Truncated }}
              {{ .Summary }}
              {{ end }}
              {{ end }}
            </div>    
            
            {{ if not .Params.showFullContent }}

            <div class="post-meta post-meta-bottom">
              <span>
                {{ range .Params.tags }}
                #<a class="tag" href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
                  {{- . -}}
                </a>&nbsp;
                {{ end }}
              </span>
            </div>
            {{ end }}
          </div>
          <div class='child child-right'>
            {{ partial "cover.html" . }}
          </div>
        </div>
      </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
