{{ define "main" }}
  {{ with .Content }}
    <div class="index-content">
      {{ . }}
    </div>
  {{ end }}
  <div class="posts">
    {{ range .Paginator.Pages }}
      <div class="post post-simple on-list">
        <div class="post-meta">
          <h1 class="post-title">
            <span class="post-date">
              {{ .Date.Format "2006-01-02" }}
            </span>
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
          </h1>
          {{ with .Params.Author }}
            <span class="post-author">:: {{ . }}</span>
          {{ end }}
        </div>
      </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
