<a href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{else}}{{ $.Site.BaseURL }}{{ end }}">
    <div class="logo">{{ with $.Site.Params.Logo.logoText }}{{ . }}{{ else }}Terminal{{ end }}</div>
</a>
<a href="https://github.com/WTFender" target="_blank">
  <i class="social fab fa-github fa-2x" style="margin-left:15px"></i>
</a>
<a href="https://www.linkedin.com/in/michaelmcintyre5/" target="_blank">
  <i class="social fab fa-linkedin fa-2x" style="margin-left:15px"></i>
</a>
<a href="https://twitter.com/WTFender" target="_blank">
  <i class="social fab fa-twitter fa-2x" style="margin-left:15px"></i>
</a>