{{ define "body-class" }}
    article-page
{{ end }}

{{ define "main" }}
    {{ partial "article/article.html" . }}

    {{ if .Params.links }}
        {{ partial "article/components/links" . }}
    {{ end }}

    {{ partial "article/components/related-content" . }}
     
    {{ if not (eq .Params.comments false) }}
        {{ partial "comments/include" . }}
    {{ end }}

    {{ partialCached "footer/footer" . }}

    {{ partialCached "article/components/photoswipe" . }}
{{ end }}

{{ define "right-sidebar" }}
    <aside class="sidebar right-sidebar sticky">
        <section class="widget archives">
            <div class="widget-icon" style="padding-bottom: 1rem;">
                {{ partial "helper/icon" "hash" }}
                <h2 class="widget-title section-title">Contents</h2>
            </div>
            <div class="widget--toc">
                {{ .TableOfContents }}
            </div>
        </section>
    </aside>
{{ end }}
