<script>
  function toggleSidebar() {
    var sb = document.getElementById("sidebar");
    var btn = document.getElementById("sidebarBtn");
    var content = document.getElementsByClassName("content container")[0];
    sb.classList.toggle("collapsed");
    btn.classList.toggle("fa-arrow-circle-left");
    btn.classList.toggle("fa-arrow-circle-right");
    content.classList.toggle("collapsed");
  }
</script>
<aside id="sidebar" class="sidebar">
  <i class="fas fa-arrow-circle-left" id="sidebarBtn" onclick="toggleSidebar()"></i>
  <div class="container">
    
    <br><br>
    <div class="sidebar-about">
      {{ with .Site.Params.gravatar }}
      <div class="author-image">
        <a href="{{ $.Site.BaseURL }}">
          <img src="https://www.gravatar.com/avatar/{{md5 .}}?s=200&d=mp" class="img-circle img-headshot center" alt="Gravatar">
        </a>
      </div>
      {{ else }}
        {{ with .Site.Params.profilePicture }}
        <div class="author-image">
          <a href="{{ $.Site.BaseURL }}">
            <img src="{{ . | relURL }}" class="img-circle img-headshot center" alt="Profile Picture">
          </a>
        </div>
        {{ end }}
      {{ end }}

      <h1>{{ .Site.Title }}</h1>

      {{ with .Site.Params.description }}
      <p class="lead">{{.}}</p>
      {{end}}
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li>
          <a href="{{ .Site.BaseURL }}">Home</a>
        </li>
        {{ range .Site.Menus.main -}}
        <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{- end }}
      </ul>
    </nav>

    <section class="social-icons">
      {{ range $item := .Site.Params.socialIcons }}
      <a href="{{ $item.url }}" rel="me" title="{{ $item.title }}" target="_blank">
        <i class="fab {{ $item.icon }}" aria-hidden="true"></i>
      </a>
      {{ end }}
    </section>
  </div>
</aside>
